   <style>
    .navbar-fixed-top {
    min-height: 50px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 50px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}
li{
font-size: 200%;
}
</style>
    
    
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="font-size: 30px;">CrimeDB</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" > 
          <ul class="nav navbar-nav">
          {% url 'home' as home %}
          {% url 'analyse' as analyse %}
          {% url 'search' as search %} 
            <li {% if request.path == home %} class="active" {% endif %} ><a href="{% url 'home' %}">Home</a></li>
           <li {% if request.path == analyse %} class="active" {% endif %}><a href="{% url 'analyse' %}">Analysis</a></li>
            <li {% if request.path == search %} class="active" {% endif %}><a href="{% url 'search' %}">Search</a></li>
          {% if perms.auth.is_lawenforcer %}
            <li {% if request.path == entry %} class = "active" {% endif %}><a href="{% url 'entryForm' %}">Entry</a><li>
              {% endif %}
            </li>
          </ul>
            <ul class="nav navbar-nav navbar-right">
          
          <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
              <ul class="dropdown-menu">
              {% if not request.user.is_authenticated %}
                <li><a href="{% url 'account_login' %}" style="font-size: 20px;">Login</a></li>

              {% else %}
                <li><a href="{% url 'account_logout' %}"style="font-size: 20px;">Logout</a></li>
              {% endif %}
              
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
